<html>
  <head>
    <title>About</title>
        <link rel="icon" href="/img/image3.jpg" />

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    
    <div class="section-1">
       {{>header}}
<p>I'm Richard. I am 17 years old. I code little bit sometimes.</p>
<p>I've used positionstack api and weatherstack api in this website.</p>
<p>Website source code is in my github repositry.</p>
<p><a href="https://github.com/uzi445/node-weather-website"><img class="icon" src="/img/git.png"</a></p>
</div>
    {{>footer}}
  </body>
</html>