<html>
  <head>
    <title>Help</title>
        <link rel="icon" href="/img/image3.jpg" />

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="section-1">

    {{>header}}
    <p>If you need any help feel free to contact me thru</p>
<div class="help-container">
  <a href="https://discord.gg/CqFYf2XnBb"><img class="icon" src="/img/dc.png"></a>
    <a href="https://www.instagram.com/yd_uzi/"><img class="icon" src="/img/ig.png"></a>
        <a href="https://github.com/uzi445"><img class="icon" src="/img/git.png"></a>


</div>
    </div>
    {{>footer}}
  </body>
</html>