<html>
  <head>
    <title>Help</title>
        <link rel="icon" href="/img/image3.jpg" />

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>

    {{>header}}
    {{>footer}}
  </body>
</html>