<html>
  <head>
    <title>Help</title>
        <link rel="icon" href="/img/image3.jpg" />

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="section-1">

    {{>header}}
    <p>Discord: uzi#8825</p>
    </div>
    {{>footer}}
  </body>
</html>