<html>
  <head>
    <link rel="icon" href="/img/image3.jpg" />
    <link rel="stylesheet" href="/css/styles.css" />
   
    <title>...</title>
  </head>
  <body><div class="section-1">
      {{>header}}
       <img src="/img/images.jpg" />
<p>{{text}}</p>
<form>
  <input placeholder="address">
  <button>Search</button>
  <p id="Message1"></p>
    <p id="Message2"></p>

</form>
</div>
    {{>footer}}
    <script src="/js/app.js"></script>
  </body>
</html> 